<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragmenti/osnovni :: head"></th:block>
    <meta charset="UTF-8">
	<title>Prijava</title>
</head>
<body>
	<div th:replace="fragmenti/osnovni :: header"></div>
	
	<div class="container">
	
		<div class="row">
			<div class="col-md-4 offset-md-4"
				 style="margin-top: 40px; padding: 0">
			 	<div th:if="${(param.logout != null)}" 
			 		 class="alert alert-info" 
			 		 role="alert">
				  	Uspješno ste odjavljeni!
				</div>
				<div th:if="${(param.error != null)}" 
			 		 class="alert alert-danger" 
			 		 role="alert">
				  	Pogreška u autentikaciji!
				</div>
			 </div>
		 </div>
		
		<div class="row">
		<div class="card col-md-4 offset-md-4">
			<div class="card-body">
				<h2 class="card-title">Prijavi se</h2>
				<div class="card-text">
					<div>
						<form name='f' action="prijava" method="POST">
							<div class="form-group">
								<label for="username">Korisničko ime:</label>
								<input type="text" 
									   name="username"
									   id="username"
									   value=""
									   class="form-control" />
							</div>
							<div>
								<label for="password">Lozinka:</label>
								<input type="password" 
									   name="password" 
									   id="password"
									   class="form-control" />
							</div>
							<div class="text-center"
								 style="margin: 20px 0px">
								<input name="submit" 
									   type="submit"
									   class="btn btn-primary" 
									   value="Prijava" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	
	<div th:replace="fragmenti/osnovni :: scripts"></div>
	
</body>
</html>