<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block th:fragment="head">
		<meta charset="UTF-8">
		<meta name="viewport" 
			content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<link rel="stylesheet" 
    	  	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    	  	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    	  	crossorigin="anonymous"/>
    	<link rel="stylesheet"
    		  th:href="@{/css/appStyle.css}"/>
    	<link rel="stylesheet" th:href="@{/css/bootstrap-multiselect.css}" type="text/html"/>
	</th:block>
</head>
<body>

	<th:block th:fragment="header">
		<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"
			 style="z-index: 10">
	  		<a class="navbar-brand" th:href="@{/projekt/lista}">Agilni Ljenivci</a>
			<button class="navbar-toggler" 
					type="button" 
					data-toggle="collapse" 
					data-target="#navbarSupportedContent" 
					aria-controls="navbarSupportedContent" 
					aria-expanded="false" 
					aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
	
		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav ml-auto">
					<li class="navbar-item form-inline">
						<span class="navbar-text" th:text="#{jezik.promjeni}"></span>:
						<select id="locales" class="form-control d-inline">
							<option value=""></option>
							<option value="en" th:text="#{jezik.en}"></option>
							<option value="hr" th:text="#{jezik.hr}"></option>
							<option value="de" th:text="#{jezik.de}"></option>
							<option value="fr" th:text="#{jezik.fr}"></option>
						</select>
					</li>
		    		<li class="navbar-item" style="margin-right: 10px" sec:authorize="isAuthenticated()">
						<div class="navbar-text"><span th:text="#{pozdrav}"></span>, <span sec:authentication="name"></span>.</div>
		    		</li>
				    <li class="navbar-item" sec:authorize="isAuthenticated()">
				      	<a th:href="@{/logout}" class="nav-link" th:text="#{odjava}"></a>
				   	</li>
				   	<li class="navbar-item" sec:authorize="!isAuthenticated()">
				      	<a th:href="@{/registracija}" class="nav-link" th:text="#{registracija}"></a>
				   	</li>
				   	<li class="navbar-item" sec:authorize="!isAuthenticated()">
				      	<a th:href="@{/login}" class="nav-link" th:text="#{prijava}"></a>
				   	</li>
				</ul>
		  	</div>
		</nav>
	</th:block>
	
	<th:block th:fragment="sidenav">
		<div id="sidenav" class="sidenav col-md-2">
			<a th:href="@{/projekt/lista}" th:classappend="${nav} == 'projekt' ? activeItem" th:text="#{projekti}"></a>
			<a th:href="@{/filter/lista}" th:classappend="${nav} == 'filter' ? activeItem" th:text="#{filtri}"></a>
			<a th:href="@{/zadatak/novi}" th:classappend="${nav} == 'zadatak' ? activeItem" th:text="#{n_zad}"></a>
			<a th:href="@{/kanban}" th:classappend="${nav} == 'kanban' ? activeItem" th:text="#{kanban}"></a>
			<a th:href="@{/timesheet}" th:text="#{timesheet}"></a>
			<a th:href="@{/statistika}" th:text="#{statistika}"></a>
			<a th:href="@{/korisnik/postavke}" th:classappend="${nav} == 'postavke' ? activeItem" th:text="#{postavke}"></a>
		</div>
	</th:block>
	
	<th:block th:fragment="scripts">
		<script src="https://code.jquery.com/jquery-3.3.1.js"
		  		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
		  		crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
	    		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
	    		crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
	    		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
	    		crossorigin="anonymous"></script>
	   	<script type="text/javascript" th:src="@{/js/bootstrap-multiselect.js}"></script>

		<script type="text/javascript">
            $(document).ready(function() {
                $("#locales").change(function () {
                    var selectedOption = $('#locales').val();
                    if (selectedOption != ''){
                        var url = new URL(window.location.href);
	                    url.searchParams.set('lang', selectedOption);
                       	window.location.assign(url.href);
                    }
                });
            });
		</script>
	</th:block>


</body>
</html>