<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{decorators/layout.html}">
<head>
	<meta charset="UTF-8"/>
	<title>Popis projekata</title>
</head>
<body>

	<section layout:fragment="content">
		<br>
		<h2>Projekti</h2>
		<hr>
		<div class="container">
			<div class="text-right">
				<a th:href="@{/projekt/dodaj}" class="card-link">Dodaj projekt...</a>
			</div>
			<br>
			<div th:if="${not #lists.isEmpty(projekti)}">
				<table class="table table-striped">
					<tr>
						<th>Ime</th>
						<th>Opis</th>
					</tr>
					<tr th:each="projekt : ${projekti}">
						<td>
							<a th:href="@{'/projekt/detalji?id=' + ${projekt.id}}"><p th:text="${projekt.ime}"></p></a>
						</td>
						<td th:text="${projekt.opis}"></td>
					</tr>
				</table>
			</div>
		</div>
	</section>

</body>
</html>