<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{decorators/layout.html}" th:with="nav='projekt'">
<head>
	<meta charset="UTF-8"/>
	<title th:text="#{projekt.lista}"></title>
</head>
<body>

	<section layout:fragment="content">
		<br>
		<h2 th:text="#{projekti}"></h2> (<span th:text="${korisnik}"></span>)
		<hr>
		<div class="container">
			<div class="text-right">
				<a th:href="@{/projekt/novi}" class="card-link" th:text="#{projekt.dodaj}"></a>
			</div>
			<br>
			<div th:if="${not #lists.isEmpty(projekti)}">
				<table class="table table-striped">
					<tr>
						<th th:text="#{ime}"></th>
						<th th:text="#{opis}"></th>
						<th th:text="#{br_cl}"></th>
					</tr>
					<tr th:each="projekt : ${projekti}">
						<td>
							<a th:href="@{'/projekt/detalji?id=' + ${projekt.id}}"><p th:text="${projekt.ime}"></p></a>
						</td>
						<td th:text="${projekt.opis}"></td>
						<td th:text="${projekt.korisnici.size()}"></td>
					</tr>
				</table>
			</div>
		</div>
	</section>

</body>
</html>