<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml" 
      layout:decorate="~{decorators/layout.html}">
<head>
<meta charset="UTF-8">
<title th:text="#{zadatak.detalji}"></title>
</head>
<body>
	<section layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="card col-md-6 offset-md-3"
			 	 style="margin-top: 50px">
				<div class="card-body">					
					<h3 class="card-title" th:text="${zadatak.ime}"></h3>
					<div>
						<h6 th:text="#{opis}"></h6>
						<p class="card-subtitle" th:text="${zadatak.opis}"></p>
					</div>
					<div>
						<h6 th:text="#{projekt}"></h6>
						<p class="card-subtitle" th:text="${zadatak.projekt.ime}"></p>
					</div>
					<div>
						<h6 th:text="#{zadatak.vrijeme}"></h6>
						<p class="card-subtitle" th:text="${zadatak.procjenaVremena}"></p>
					</div>
					<div>
						<h6 th:text="#{reporter}"></h6>
						<p class="card-subtitle" th:text="${zadatak.reporter.korisnickoIme}"></p>
					</div>
					<div>
						<h6  th:text="#{izvrsitelj}"></h6>
						<p class="card-subtitle" th:text="${zadatak.assignee.korisnickoIme}"></p>						
					</div>
					<div>
						<h6 th:text="#{zadatak.stanje}"></h6>
						<p class="card-subtitle" th:text="${zadatak.stanje}"></p>						
					</div>		
				</div>
			</div>
			<div class="card col-md-6 offset-md-3"
			 	 style="margin-top: 50px">
			<div class="card-body">
				<h6 class="card-title" th:text="#{komentari}"></h6>
				<div class="card mb-4" th:each="komentar : ${komentari}">
					<div class="card-body">
						<h6 class="card-subtitle text-muted" th:text="${komentar.autor.korisnickoIme}"></h6>
						<small th:text="${komentar.vrijeme}"></small>
						<p class="card-text" th:text="${komentar.tekst}"></p>
					</div>			
				</div>
				<h6 class="card-title" th:text="#{komentar}"></h6>
				<form  name ="f" method="POST" th:action="@{/zadatak/noviKomentar}" th:object="${KomentarFormModel}" class="form-horizontal">		    					
					<div class="form-group">
      					<input type="text" class="form-control" id="tekst" th:field="*{tekst}" required>
      					<input type="hidden" id="zadatakId" name="zadatakId" th:value="${zadatak.id}">
      					<br>
      					<input name="submit" type="submit" class="btn btn-secondary" th:value="#{komentar}"></input>
    				</div>
				</form>
			</div>		
		</div>
		</div>
	</div>
	</section>			
</body>
</html>