<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml" 
      layout:decorate="~{decorators/layout.html}" th:with="nav='zadatak'">
<head>
<meta charset="UTF-8">
<title th:text="#{zadatak.novi}"></title>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
		<div class="row">
			<div class="card col-md-6 offset-md-3"
			 	 style="margin-top: 50px">
				<div class="card-body">
					<h2 class="card-title text-center" th:text="#{zadatak.novi}"></h2>
					<div class="card-text">
						<div>
							<form name='f' 
								  th:action="@{/zadatak/novi}"
								  th:object="${zadatakFormModel}" 
								  method="POST">
								<div class="form-group">
									<label for="projekt" th:text="#{projekt}"></label>:
									<select class="form-control" th:field="*{projekt}">
									  	<option th:each="p : ${projekti}" 
									          th:value="${p.id}" 
									          th:text="${p.ime}"></option>
									</select>
								</div>
								<div class="form-group">
									<label for="ime" th:text="#{ime}"></label>:
									<input type="text"
										   th:field="*{ime}"
										   th:errorclass="border-danger"
										   name="ime"
										   id="ime"
										   class="form-control border" />
								   <small th:if="${#fields.hasErrors('ime')}" 
								   		  th:errors="*{ime}" 
								   		  class="form-text text-danger">
						   		  </small>
								</div>
								<div class="form-group">
									<label for="opis" th:text="#{opis}"></label>:
									<input type="text"
										   th:field="*{opis}"
										   th:errorclass="border-danger"
										   name="opis"
										   id="opis"
										   class="form-control border" />
								   <small th:if="${#fields.hasErrors('opis')}" 
								   		  th:errors="*{opis}" 
								   		  class="form-text text-danger">
						   		  </small>
								</div>
								<div class="form-group">
	      							<label for="tip" th:text="#{tip}"></label>:
	      							<select class="form-control" id="tip" name="tip" th:field="*{tip}">
	      								<option th:value="Bug">Bug</option>
	      								<option th:value="Feature">Feature</option>
	      							</select>
	    						</div>
	    						<div class="form-group">
	      							<label for="prioritet" th:text="#{prioritet}"></label>:
	      							<select class="form-control" id="prioritet" name="prioritet" th:field="*{prioritet}">
	      								<option th:value="High">High</option>
	      								<option th:value="Medium">Medium</option>
	      								<option th:value="Low">Low</option>
	      							</select>
	    						</div>
								<div class="form-group">
									<label for="procjenaVremena" th:text="#{zadatak.vrijeme}"></label>:
									<input type="number"
										   th:field="*{procjenaVremena}"										   
										   name="procjenaVremena"
										   id="procjenaVremena"
										   class="form-control border" />								   
								</div>
								<div class="form-group">
									<label for="datumOcekivano" th:text="#{zadatak.datum}"></label>:
									<input type="date"
										   th:field="*{datumOcekivano}"
										   name="datumOcekivano" 
										   id="datumOcekivano"
										   class="form-control" 
										   required />
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>								   
								</div>								
								<div class="form-group">
									<label for="assignee" th:text="#{izvrsitelj}"></label>:
									<select class="form-control" th:field="*{assignee}">
									  	<option th:each="k : ${korisnici}" 
									          th:value="${k.id}" 
									          th:text="${k.korisnickoIme}"></option>
									</select>
								</div>														
								<div class="text-right"
									 style="margin-top: 20px">
									<input name="submit" 
										   type="submit"
										   class="btn btn-primary" 
										   th:value="#{spremi}" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>			
</body>
</html>