<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{decorators/layout.html}" th:with="nav='filter'">
<head>
    <meta charset="UTF-8"/>
    <title>Popis filtera</title>
</head>
<body>

<section layout:fragment="content">
    <br>
    <h2>Filtri</h2> (<span th:text="${korisnik}"></span>)
    <hr>
    <div class="container">
        <div class="text-right">
            <a th:href="@{/filter/novi}" class="card-link">Dodaj filter...</a>
        </div>
        <br>
        <div th:if="${not #lists.isEmpty(filtri)}">
            <table class="table table-striped">
                <tr>
                    <th>Ime</th>
                    <th>Opis</th>
                    <th></th>
                </tr>
                <tr th:each="filter : ${filtri}">
                    <td>
                        <p th:text="${filter.ime}"></p>
                    </td>
                    <td th:text="${filter.opis}"></td>
                    <td><a th:href="@{'/filter/uredi?id=' + ${filter.id}}"><p>Uredi</p></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

</body>
</html>