<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{decorators/layout.html}" th:with="nav='filter'">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{filter.popis}"></title>
</head>
<body>

<section layout:fragment="content">
    <br>
    <h2 th:text="#{filteri}"></h2>
    <hr>
    <div class="container">
        <div class="text-right">
            <a th:href="@{/filter/novi}" class="card-link" th:text="#{filter.dodaj}"></a>
        </div>
        <br>
        <div th:if="${not #lists.isEmpty(filtri)}">
            <table class="table table-striped">
                <tr>
                    <th th:text="#{ime}"></th>
                    <th th:text="#{opis}"></th>
                    <th th:text="#{korisnici}"></th>
                    <th th:text="#{projekti}"></th>
                    <th></th>
                </tr>
                <tr th:each="filter : ${filtri}">
                    <td>
                        <p th:text="${filter.ime}"></p>
                    </td>
                    <td th:text="${filter.opis}"></td>
                    <td> <p th:each="korisnik : ${filter.getKorisnici()}"
                            th:text="${korisnik.ime} + ' ' + ${korisnik.prezime}"> </p></td>
                    <td> <p th:each="projekt : ${filter.getProjekti()}"
                            th:text="${projekt.ime}"> </p></td>
                    <td><a th:href="@{'/filter/uredi?id=' + ${filter.id}}"><p th:text="#{uredi}"></p></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

</body>
</html>